.createSection{
  margin-top:200px;
  margin-left:150px;

  @media(max-width:500px){
    margin-left:15px;

  }
  @media(min-width:600px ){
    text-align:center;
    margin-left:0px;
}

  h3{
    font-family:"Lato";
    font-size:20px;
    font-weight:300;
    letter-spacing:1px;
  }

  ::placeholder{
    font-size:15px;
    font-weight:200;
  }

  .ingredients, .instructions{
    margin-top:100px;
  }
  

  input[type=text]{
    width: 980px;
    padding-top: 24px;
    border:none;
    border-bottom: 3px solid #000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

    @media(max-width: 500px){
      width:283px;
    }
    @media(min-width:600px ){
     width:558px;
  }
  }
  
  .caveat{
  font-size: 25px;
  font-family: "Caveat";
  font-weight: 600;
  letter-spacing: 2px;

  @media(max-width: 500px){
    font-size:20px;
  }
}

}

.create-button-group{
  margin-left:300px;
  
  @media(max-width: 500px){
    margin-left:10px;
  }
  @media(min-width:600px ){
    margin:0;
  }
    .createButton {
    margin-bottom:150px;
    margin-top:100px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 25px;;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(226, 138, 138);
    width:422px;
    font-family:'Caveat';  
    box-shadow: 0px 10px 6px #cac9c9;    
    
    @media(max-width:500px){
      width:283px;

    }
  }

  .createButton:hover {
    background-color: rgba(255, 0, 0, 1);
  }

  .createButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
}



.fa-plus-circle{
  color:#e28a8a;
  margin-left:-20px;
}

.attachButton{
  background-color: rgb(226, 138, 138);
  border: 0;
  border-radius:30px;
  width:110px;
  height:36px;
  margin-left:-110px;
  font-family:"Caveat";
  font-size:17px;

}

//View Recipe SCSS (expanded)
.grid{
  margin-right:400px;
  margin-top:250px;
  display:grid;
  grid-template-columns:7% 1fr 1fr;
  grid-gap:30px;
  @media(max-width: 500px){
    grid-template-columns:7% 1fr;
  }
  @media(min-width:600px ) and (max-width:768px){
    margin-right:0px;
    grid-template-columns: 14% 1fr;
  }
    .section-heading{
      margin-top:36px;
      width:400px;
      margin-left:-128px;
      @media(max-width: 500px){
        margin-left:-182px;
        font-size:20px;
        margin-top:0px;
      }
      @media(min-width:600px )and (max-width:768px){
        margin-left:-86px;
      }
    
    .rotate{
      transform:rotate(-90deg);
      font-weight:100;
      font-size:25px;
      letter-spacing:1px;
      @media(max-width: 500px){
        font-size:20px;
      }
    }
  }
}
.section-text{
  @media(min-width:600px )and (max-width:768px){
    margin-left:136px;
  } 
  @media(max-width: 500px){
    margin-left:48px;
  }
 
    h3{
      margin-top:50px;
      font-size:20px;
      font-weight:200;
      letter-spacing:2px;
    }
    .subheading{
      letter-spacing:3px;
      font-weight:200;
    }
    .subtext{
      font-family:"Caveat";
      font-size:20px;
      font-weight:100;
    }
  }
.section-image{
  height:421px;
  width:468px;
  background-image: url(/assets/recipe-pizza.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  @media(max-width: 500px){
    width:251px;
    height:226px;
    margin-left:14px;
  }

}

.view-ingredients, .view-instructions{
  margin-top:80px;
  letter-spacing:2px;
  margin-left:110px;
  @media(min-width:600px )and (max-width:768px){
    margin-left:0px;
  }
  @media(max-width: 500px){
    margin-left:0px;
  }

  h2{
    margin-bottom:40px;
  }
}

.view-instructions{
  padding-bottom:300px;
}



//YourRecipe SCSS


  .your-recipe-button{
    margin-top:30px;
    margin-right:14px;
    border: 0;
    //line-height: 2.5;
    padding: 0 20px;
    font-size: 19px;;
    text-align: center;
    border-radius: 30px;
    background-color: #FFD972;
    width:126px;
    height:42px;
    font-family:'Caveat';  
    box-shadow: 0px 10px 6px rgba(0,0,0, .16);  
  }

  .pizza-image{
    .your-recipe-button{
      margin-top:110px;
      margin-left:78px;
      margin-right:14px;
      border: 0;
      padding: 0 20px;
      font-size: 19px;;
      text-align: center;
      border-radius: 30px;
      background-color: #FFD972;
      width:126px;
      height:42px;
      font-family:'Caveat';  
      box-shadow: 0px 10px 6px rgba(0,0,0, .16);  
    }

  }