
<footer>
    <div class="brand">
        <p>Copyright &copy; The Jungle Cook</p>
    </div>
    <div class="menu">
        <a id="login" href="#">Login</a>
        <a id="edit" href="#">Recipes by Category</a>
        <a id="viewrecipe" href="#">Privacy and Copyright</a>
        <a id="createrecipe" href="#">Create Recipe</a>
        <a id="yourrecipe" href="#">Your Recipes</a>
    </div> 
    <div class="icons">
        <a href="#"><img src="assets/instagram.svg" id="instagram" /></a>
        <a href="#"><img src="assets/facebook.svg" id="instagram" /></a>


    </div>




</footer>    