<nav>
    <div class="brand">
        <img src="assets/logo.svg" id="logo" />
    </div>
    <div class="links">
        <a id="home" href="#">Home</a>
        <a id="browse" href="#">Browse</a>
        <a id="createrecipe" href="#">Create Recipe</a>
        <a id="viewrecipe" href="#" style="display : none;">View Recipe</a>
        <a id="login" href="#">Login</a>
    </div> 
    <div class="navicon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    



</nav>    


