* {
  box-sizing: border-box; }

html, body {
  font-family: 'Inter',arial, helvetica;
  margin: 0;
  height: 100%; }

#app {
  height: 100%; }

.heading {
  font-weight: bold;
  font-size: 40px;
  padding: 0 0 30px; }

.container {
  display: flex;
  height: 100%; }
  .container-wrapper {
    height: 100%;
    padding-bottom: 50px; }
  .container > div {
    flex: 1;
    display: flex;
    align-items: center; }
  .container .leftsection > div {
    padding: 40px;
    font-size: 20px; }
  .container .rightsection .banner-image {
    width: 100%; }

nav {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 30px;
  z-index: 10; }
  nav a {
    text-decoration: none;
    font-family: 'Caveat', san-serif;
    color: black;
    font-size: 25px;
    padding-right: 41px; }
  nav .brand {
    float: left;
    margin-left: 50px; }
    @media (max-width: 500px) {
      nav .brand {
        margin-left: 0px; } }
  nav .links {
    margin-right: 50px;
    float: right; }
    nav .links :last-child {
      margin-top: 30px;
      border: 0;
      line-height: 2.5;
      padding: 0 20px;
      font-size: 25px;
      text-align: center;
      border-radius: 30px;
      background-color: #FFD972;
      font-family: 'Caveat';
      box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }
    @media (max-width: 990px) {
      nav .links {
        display: none; } }
  nav .navMobileView {
    width: 350px;
    height: 80px;
    background-color: coral;
    display: flex; }
    nav .navMobileView a {
      margin: auto;
      text-decoration: none; }

.navicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 50px;
  display: none;
  cursor: pointer; }
  .navicon .line {
    width: 100%;
    height: 5px;
    background-color: black; }

@media all and (max-width: 990px) {
  nav .links {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
    display: none; }
    nav .links.linksMobileView {
      display: flex !important;
      flex-direction: column;
      background-color: #ff7f7f;
      width: 50%;
      border-radius: 20px; }
      nav .links.linksMobileView a {
        font-size: 20px; }
  nav .navicon {
    display: flex;
    flex-direction: column; }
  nav .line {
    width: 100%;
    height: 5px;
    background-color: black;
    margin: auto;
    border-radius: 2px; } }

.background-center-content {
  height: 100%;
  background-image: url(../assets/hero.jpg);
  background-image: linear-gradient(to bottom, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .background-center-content > div {
    position: relative; }

.callout {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #FFD972;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 100%;
  font-family: 'Caveat';
  z-index: 2; }
  .callout p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
    padding: 20px;
    width: 62%; }

.circle {
  padding-left: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  position: absolute;
  width: 168px;
  height: 168px;
  background-color: #FCBCB8;
  border-radius: 50%;
  top: -16px;
  right: -87px;
  z-index: 1; }
  .circle p {
    font-style: italic; }

.callout2 {
  width: 400px;
  height: 300px;
  background-color: aquamarine;
  margin: auto; }

@media all and (max-width: 500px) {
  .background-center-content .callout {
    width: 258px;
    height: 258px; }
    .background-center-content .callout h1 {
      font-size: 17px; }
    .background-center-content .callout p {
      font-size: 9px; }
  .background-center-content .circle {
    width: 121px;
    height: 121px;
    top: -62px;
    right: -23px;
    font-size: 8px; }
    .background-center-content .circle p {
      margin-right: 32px; } }

.background-browse {
  background-image: url(/assets/recipe-hero.jpg);
  background-image: linear-gradient(to bottom, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(/assets/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .background-browse > div {
    position: relative; }

.browse-container {
  width: 100%;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px; }
  @media (max-width: 500px) {
    .browse-container {
      display: flex;
      margin: 100px 0px 100px 0px;
      flex-direction: column;
      align-items: center; } }
  .browse-container .caveat {
    font-size: 25px;
    font-family: "Caveat";
    font-weight: 600;
    letter-spacing: 2px; }
  .browse-container .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 500px) {
      .browse-container .recipes {
        display: flex;
        flex-direction: column; } }
    @media (min-width: 600px) and (max-width: 768px) {
      .browse-container .recipes {
        display: block; } }
    .browse-container .recipes .pizza-recipe {
      display: flex;
      margin-top: 60px; }
      @media (max-width: 500px) {
        .browse-container .recipes .pizza-recipe {
          display: flex;
          flex-direction: column; } }
      .browse-container .recipes .pizza-recipe .pizza-image {
        height: 263px;
        width: 300px;
        background-image: url(/assets/recipe-pizza.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px; }
      .browse-container .recipes .pizza-recipe .burger-image {
        height: 263px;
        width: 300px;
        background-image: url(/assets/recipe-burger.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px; }
      .browse-container .recipes .pizza-recipe .chicken-image {
        height: 263px;
        width: 300px;
        background-image: url(/assets/recipe-pilaf.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px; }
      .browse-container .recipes .pizza-recipe .chow-image {
        height: 263px;
        width: 300px;
        background-image: url(/assets/recipe-chowmein.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px; }
      .browse-container .recipes .pizza-recipe .pizza-text {
        height: 263px;
        width: 224px;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 24px; }
        @media (max-width: 500px) {
          .browse-container .recipes .pizza-recipe .pizza-text {
            width: 300px; } }
        .browse-container .recipes .pizza-recipe .pizza-text h2 {
          width: 154px;
          height: 20px;
          margin: 0 auto;
          font-size: 15px;
          font-family: "Lato";
          letter-spacing: 2px;
          border-bottom: 3px solid #000;
          margin-top: 42px;
          margin-bottom: 20px; }
        .browse-container .recipes .pizza-recipe .pizza-text .recipe-description {
          font-size: 9px;
          margin-top: 10px;
          margin: 0 auto;
          width: 140px;
          height: 55px;
          padding-bottom: 62px;
          margin-bottom: 20px;
          text-align: left; }
        .browse-container .recipes .pizza-recipe .pizza-text .time {
          display: flex;
          justify-content: center;
          align-items: center; }
          .browse-container .recipes .pizza-recipe .pizza-text .time .time-icon {
            width: 24px;
            height: 24px; }
          .browse-container .recipes .pizza-recipe .pizza-text .time .time-right {
            margin-left: 10px;
            font-size: 10px; }
        .browse-container .recipes .pizza-recipe .pizza-text .servings {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .browse-container .recipes .pizza-recipe .pizza-text .servings .servings-icon {
            width: 24px;
            height: 24px; }
          .browse-container .recipes .pizza-recipe .pizza-text .servings .servings-right {
            margin-left: 10px;
            font-size: 10px; }

.logo {
  width: 24px;
  height: 24px; }

.createSection {
  margin-top: 200px;
  margin-left: 150px; }
  @media (max-width: 500px) {
    .createSection {
      margin-left: 15px; } }
  @media (min-width: 600px) {
    .createSection {
      text-align: center;
      margin-left: 0px; } }
  .createSection h3 {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px; }
  .createSection ::placeholder {
    font-size: 15px;
    font-weight: 200; }
  .createSection .ingredients, .createSection .instructions {
    margin-top: 100px; }
  .createSection input[type=text] {
    width: 980px;
    padding-top: 24px;
    border: none;
    border-bottom: 3px solid #000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; }
    @media (max-width: 500px) {
      .createSection input[type=text] {
        width: 283px; } }
    @media (min-width: 600px) {
      .createSection input[type=text] {
        width: 558px; } }
  .createSection .caveat {
    font-size: 25px;
    font-family: "Caveat";
    font-weight: 600;
    letter-spacing: 2px; }
    @media (max-width: 500px) {
      .createSection .caveat {
        font-size: 20px; } }

.create-button-group {
  margin-left: 300px; }
  @media (max-width: 500px) {
    .create-button-group {
      margin-left: 10px; } }
  @media (min-width: 600px) {
    .create-button-group {
      margin: 0; } }
  .create-button-group .createButton {
    margin-bottom: 150px;
    margin-top: 100px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    border-radius: 30px;
    background-color: #e28a8a;
    width: 422px;
    font-family: 'Caveat';
    box-shadow: 0px 10px 6px #cac9c9; }
    @media (max-width: 500px) {
      .create-button-group .createButton {
        width: 283px; } }
  .create-button-group .createButton:hover {
    background-color: red; }
  .create-button-group .createButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6); }

.fa-plus-circle {
  color: #e28a8a;
  margin-left: -20px; }

.attachButton {
  background-color: #e28a8a;
  border: 0;
  border-radius: 30px;
  width: 110px;
  height: 36px;
  margin-left: -110px;
  font-family: "Caveat";
  font-size: 17px; }

.grid {
  margin-right: 400px;
  margin-top: 250px;
  display: grid;
  grid-template-columns: 7% 1fr 1fr;
  grid-gap: 30px; }
  @media (max-width: 500px) {
    .grid {
      grid-template-columns: 7% 1fr; } }
  @media (min-width: 600px) and (max-width: 768px) {
    .grid {
      margin-right: 0px;
      grid-template-columns: 14% 1fr; } }
  .grid .section-heading {
    margin-top: 36px;
    width: 400px;
    margin-left: -128px; }
    @media (max-width: 500px) {
      .grid .section-heading {
        margin-left: -182px;
        font-size: 20px;
        margin-top: 0px; } }
    @media (min-width: 600px) and (max-width: 768px) {
      .grid .section-heading {
        margin-left: -86px; } }
    .grid .section-heading .rotate {
      transform: rotate(-90deg);
      font-weight: 100;
      font-size: 25px;
      letter-spacing: 1px; }
      @media (max-width: 500px) {
        .grid .section-heading .rotate {
          font-size: 20px; } }

@media (min-width: 600px) and (max-width: 768px) {
  .section-text {
    margin-left: 136px; } }

@media (max-width: 500px) {
  .section-text {
    margin-left: 48px; } }

.section-text h3 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px; }

.section-text .subheading {
  letter-spacing: 3px;
  font-weight: 200; }

.section-text .subtext {
  font-family: "Caveat";
  font-size: 20px;
  font-weight: 100; }

.section-image {
  height: 421px;
  width: 468px;
  background-image: url(/assets/recipe-pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 500px) {
    .section-image {
      width: 251px;
      height: 226px;
      margin-left: 14px; } }

.view-ingredients, .view-instructions {
  margin-top: 80px;
  letter-spacing: 2px;
  margin-left: 110px; }
  @media (min-width: 600px) and (max-width: 768px) {
    .view-ingredients, .view-instructions {
      margin-left: 0px; } }
  @media (max-width: 500px) {
    .view-ingredients, .view-instructions {
      margin-left: 0px; } }
  .view-ingredients h2, .view-instructions h2 {
    margin-bottom: 40px; }

.view-instructions {
  padding-bottom: 300px; }

.your-recipe-button {
  margin-top: 30px;
  margin-right: 14px;
  border: 0;
  padding: 0 20px;
  font-size: 19px;
  text-align: center;
  border-radius: 30px;
  background-color: #FFD972;
  width: 126px;
  height: 42px;
  font-family: 'Caveat';
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }

.pizza-image .your-recipe-button {
  margin-top: 110px;
  margin-left: 78px;
  margin-right: 14px;
  border: 0;
  padding: 0 20px;
  font-size: 19px;
  text-align: center;
  border-radius: 30px;
  background-color: #FFD972;
  width: 126px;
  height: 42px;
  font-family: 'Caveat';
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }

#footer {
  padding: 0 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Lato', san-serif;
  font-style: italic;
  color: #393939; }

footer {
  height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: .1em;
  justify-content: space-between;
  font-size: 15px; }
  @media (max-width: 990px) {
    footer {
      font-size: 10px; } }
  @media (max-width: 640px) {
    footer {
      flex-direction: column-reverse; }
      footer > div {
        padding: 5px 0; } }
  footer .menu {
    text-align: center; }
    footer .menu a {
      padding-right: 18px;
      text-decoration: none;
      color: #393939;
      padding: 5px;
      white-space: nowrap;
      display: inline-block; }
  footer .icons a:first-child {
    margin-right: 40px; }
    @media (max-width: 990px) {
      footer .icons a:first-child {
        margin-right: 20px; } }
  footer .icons a img {
    width: 19px;
    height: 19px;
    color: #393939; }

::placeholder {
  color: #000;
  font-size: 12px;
  font-family: "Lato";
  letter-spacing: 1px; }

.login {
  background-color: #FFD972;
  font-family: "Lato"; }

@media (max-width: 500px) {
  .container-wrapper {
    height: auto; } }

@media (min-width: 600px) and (max-width: 768px) {
  .container-wrapper {
    height: auto; } }

@media (min-width: 600px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 500px) {
  .container > div {
    display: initial; } }

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center; } }

.container h2 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 0px; }

@media (max-width: 500px) {
  .container .leftsection {
    margin-top: 90px; } }

@media (min-width: 600px) and (max-width: 768px) {
  .container .leftsection {
    margin-top: 80px; } }

.container .leftsection input[type=text] {
  width: 250px;
  padding-top: 24px;
  border: none;
  border-bottom: 3px solid #000;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #FFD972; }
  @media (max-width: 500px) {
    .container .leftsection input[type=text] {
      width: 206; } }

.container .leftsection .login {
  margin: 0 auto; }

.container .rightsection input[type=text] {
  width: 250px;
  padding-top: 24px;
  border: none;
  border-bottom: 3px solid #000;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #FFD972; }

.container .rightsection .signup {
  margin-bottom: 10px; }
  @media (max-width: 500px) {
    .container .rightsection .signup {
      text-align: center; } }

.container .rightsection .italic {
  font-style: italic;
  font-size: 12px;
  letter-spacing: 1px; }

.container .signupButton, .container .loginButton {
  margin-top: 30px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 30px;
  background-color: #FFD972;
  width: 250px;
  font-family: 'Caveat';
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer; }
  @media (max-width: 500px) {
    .container .signupButton, .container .loginButton {
      margin-bottom: 100px; } }
