<div class="createSection">
  <h2 class="caveat">Hey Michael, create your recipe!</h2>
  <form>
    <div class="form-field">
        <label for="addImage" class="subheading"></label>
        <input type="text" id="addImage" name="addImage" placeholder="Add Recipe Image">
        <input class="attachButton"
        type="button"
        value="Attach file">
    </div>
    <div class="form-field">
        <label for="recipeName" class="subheading"></label>
        <input type="text" id="recipeName" name="recipeName" placeholder="Recipe Name">
    </div>
    <div class="form-field">
        <label for="recipeDescription" class="subheading"></label>
        <input type="text" id="recipeDescription" name="recipeDescription" placeholder="Recipe Description">
    </div>
    <div class="form-field">
        <label for="recipeTime" class="subheading"></label>
        <input type="text" id="recipeTime" name="recipeTime" placeholder="Recipe Total Time">
    </div>
    <div class="form-field">
      <label for="recipeServing" class="subheading"></label>
      <input type="text" id="recipeServing" name="recipeServing" placeholder="Recipe Serving Size">
  </div>
</form>
  <div class="ingredients">
    <h3>Enter Ingredients:</h3>
    <form>
      <div class="form-field">
          <label for="ingredient1" class="subheading"></label>
          <input type="text" id="ingredient1" name="ingredient1" placeholder="Ingredient #1">
      </div>
      <div class="form-field">
          <label for="ingredient2" class="subheading"></label>
          <input type="text" id="ingredient2" name="ingredient2" placeholder="Ingredient #2">
      </div>
      <div class="form-field">
          <label for="ingredient3" class="subheading"></label>
          <input type="text" id="ingredient3" name="ingredient3" placeholder="Ingredient #3">
          <i class="fas fa-plus-circle"></i>
      </div>
    </form>
  </div>
  <div class="instructions">
    <h3>Enter Instructions:</h3>
    <form>
      <div class="form-field">
          <label for="instruction1" class="subheading"></label>
          <input type="text" id="instruction1" name="instruction1" placeholder="Instruction #1">
      </div>
      <div class="form-field">
          <label for="instruction2" class="subheading"></label>
          <input type="text" id="instruction2" name="instruction2" placeholder="Instruction #2">
      </div>
      <div class="form-field">
          <label for="instruction3" class="subheading"></label>
          <input type="text" id="instruction3" name="instruction3" placeholder="Instruction #3">
          <i class="fas fa-plus-circle"></i>
      </div>
    </form>
  </div>
  <div class="create-button-group">
    <input class="createButton"
          type="button"
          value="Create Recipe">
  </div>
</div>

