<div class="container-wrapper login">

  <div class="container">
    <div class="leftsection">
      <div class="login">
        <h2>Login Here!</h2>
          <div class="form-field">
              <label for="fname" class="subheading"></label>
              <input type="text" id="uName" name="username" placeholder="Username">
          </div>
          <div class="form-field">
              <label for="lname" class="subheading"></label>
              <input type="text" id="pWord" name="password" placeholder="Password">
          </div>
        <button class="loginButton" id="logIn">Login</button>
      </div>
    </div>
    <div class="rightsection">
        <div class="signup">
          <p class="italic">don't have an account?</p>        
          <h2>Sign Up!</h2>
              <div class="form-field">
                  <label for="fname" class="subheading"></label>
                  <input type="text" id="fname" name="firstname" placeholder="First name">
              </div>
              <div class="form-field">
                  <label for="lname" class="subheading"></label>
                  <input type="text" id="lname" name="lastname" placeholder="Last Name">
              </div>
              <div class="form-field">
                  <label for="email" class="subheading"></label>
                  <input type="text" id="uNameNew" name="uName" placeholder="Email Address">
              </div>
              <div class="form-field">
                  <label for="password" class="subheading"></label>
                  <input type="text" id="pWordNew" name="password" placeholder="Password">
              </div>
      
                <input class="signupButton" type="submit" id="SubmitBtn" value="Sign Up">
        </div>
    </div>
  </div>
</div>

