<div class="background-browse">
    <div class="browse-container">
        <div class="title">
            <h1 class="caveat">Hey Michael, here are your recipes!</h1>
        </div>
            <div class="recipes">
                <div class="pizza-recipe">
                    <div class="pizza-image">
                        <input class="your-recipe-button" type="button" value="View">
                    </div>
                    <div class="pizza-text">
                        <h2>Supreme Pizza</h2>
                        <p class="recipe-description">Make pizza night super duper out of this world with homemade pizza. This recipe is supreme with vegetables and two types of meat. Yum!</p>
                        <div class="time">
                            <img class="time-icon" src="/assets/time.svg">
                            <p class="time-right">1hr 24min</p>
                        </div>
                        <div class="servings">
                            <img class="servings-icon" src="/assets/servings.svg">
                            <p class="servings-right">4 servings</p>
                        </div>
    
                    </div>
                </div> 
             </div>
             <input class="your-recipe-button" type="button" value="Edit Recipe">
             <input class="your-recipe-button" type="button" value="Delete">
        </div>
    </div>





    </div>
</div>