<div class="grid">
    <div class="section-heading">            
        <h3 class="rotate">supreme pizza</h3>
    </div>  
    <div class="section-image">
        <!-- <img class="square-image" src="/assets/recipe-pizza.jpg"> -->
    </div>
    <div class="section-text">    
        <h2 class="subheading">Description</h2>
        <p class="subtext">Make pizza night super duper out of this world with homemade pizza. This recipe is supreme with vegetables and two types of meat. Yum!</p>
        <h3>Total Time:</h3>
        <p class="subtext">1h 24min</p>
        <h3>Servings:</h3>
        <p class="subtext">4 servings</p>
    </div>
</div>
<div class="view-ingredients">
    <div class="section-text">
        <h2 class="subheading">Ingredients:</h2>
        <p class="subtext">1/4 batch pizza dough</p>
        <p class="subtext">  2 tablespoons Last-Minute Pizza Sauce</p>
        <p class="subtext">    10 slices pepperoni</p>
        <p class="subtext">   1 cup cooked and crumbled Italian sausage</p>
        <p class="subtext">    2 large mushrooms, sliced</p>
        <p class="subtext">      1/4 bell pepper, sliced</p>
        <p class="subtext">    1 tablespoon sliced black olives</p>
        <p class="subtext">1 cup shredded mozzarella cheese</p>
    </div>
</div>
<div class="view-instructions">
    <div class="section-text">
        <h2 class="subheading">Instructions:</h2>
        <p class="subtext">1. Preheat the oven to 475°. Spray pizza pan with nonstick cooking or line a baking sheet with parchment paper.</p>
        <p class="subtext">2. Flatten dough into a thin round and place on the pizza pan.</p>
        <p class="subtext">3. Spread pizza sauce over the dough.        </p>
        <p class="subtext">4. Layer the toppings over the dough in the order listed.        </p>
        <p class="subtext">5. Bake for 8 to 10 minutes or until the crust is crisp and the cheese melted and lightly browned.</p>
    </div>
    <input class="your-recipe-button" type="button" value="Edit Recipe">
</div>
